@import vendor/normalize
@import vendor/neutron/neutron
@import player
@import login
@import variables


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
	display: none !important



body
	background: $color1
	color: white
	max-width: 100%
	text-shadow: rgba(0,0,0,.1) 0 0 1px

input
	color: black




// button
	// background: $color4
	// border: 0px
	// border-radius: 3px
	// padding: 5px 10px
	// &:hover
	// 	background: darken($color4, 5%)








