.wrap
	a.login-btn(ng-click="login()") 
		img(src='img/contact-outline.png')
		br
		span Login


	//- svg(xmlns='http://www.w3.org/2000/svg', width='116', height='116', viewbox='0 0 116 116')
	//- 	title Oval 1
	//- 	defs
	//- 		filter#dropshadow(height='170%')
	//- 			fegaussianblur(in='SourceAlpha', stddeviation='3')
	//- 				feoffset(dx='110', dy='111', result='offsetblur')
	//- 					femerge
	//- 						femergenode
	//- 							femergenode(in='SourceGraphic')

	//- 	circle(cx='58', cy='56', r='50', fill='none', fill-rule='evenodd', stroke='#2ECC71', stroke-width='4', style="filter:url(#dropshadow)")
	//- 	circle(cx='58', cy='55', r='50', fill='none', fill-rule='evenodd', stroke='#2ECC71', stroke-width='3')
			
	//- svg(xmlns='http://www.w3.org/2000/svg', width='306', height='106', viewbox='0 0 306 106')
	//- 	title Rectangle 2
	//- 	rect( id='loginBtn', width='300', height='100', x='3', y='3', fill='none', fill-rule='evenodd', stroke='#979797', stroke-width='3', rx='50')
	//- 	animate(xlink:href='#loginBtn', attributename='x', from='0', to='100', dur='1s', begin='mouseOver', fill='freeze')
	//- 	animate(xlink:href='#loginBtn', attributename='width', from='300', to='100', dur='1s', begin='click', fill='freeze')