.wrap
	#user
		div 
			img(ng-src="{{userInfo.photo_100}}")
		.fio 
			span.ln {{userInfo.last_name}}
			br
			span.fn {{userInfo.first_name}}
		//- .user {{userInfo.photo_50}}


	//- button(ng-click="logout()") logout


